<a href="https://colab.research.google.com/github/dsdnmstf/Python-Questions/blob/master/Python_addicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to compute the greatest common divisor (GCD) of two positive integers

In [ ]:
a, b = list(map(int, input('Please enter the numbers : ').split()))
if a >= b :
  bölen = b
else :
  bölen = a
for i in range(1, bölen + 1) :
  if a % i == 0 and b % i == 0 :
    GCD = i
print(GCD)

Please enter the numbers : 23 40
1

![image.png]()

In [ ]:
str_x = "Emma is good devoloper. Emma is a writer"
print("Emma apperared {} times".format(str_x.count("Emma")))

Emma apperared 2 times

integer formatında verilen sayının döngü kullanmadan aralarında birer boşuk bırakarak tersini yazdıran program

[ ]

In [ ]:
number = input('Give a number')
" ".join([i for i in number[::-1]])

Give a number123456

'6 5 4 3 2 1'

kullanıcıdan alınan iki sayının ortak bölenlerini yazdıran bir program yazınız

In [ ]:
num1, num2 = list(map(int, input('Please enter the numbers : ' ).split()))
ortak = []
if num1 <= num2 :
  n = num1
else:
  n = num2
for i in range(1, n+1) :
  if num1 % i == 0 and num2 % i == 0 :
    ortak.append(i)
print(ortak)

Please enter the numbers : 12 96
[1, 2, 3, 4, 6, 12]

In [ ]:
num1 = int(input("please enter first number :"))
num2 = int(input("please enter second number :"))
toplam = []

for i in range(1,num1+1) :
  if num1 % i == 0:
    toplam += [i]
    num1 = num1 // i
for j in range(1,num2+1) :
  if num2 % j == 0:
    toplam += [j]
    num2 = num2 // j
print(set(toplam))
print(num1)
print(num2)

please enter first number :12
please enter second number :96
{1, 2, 3, 4}
2
4

Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return

In [ ]:
while True:
  num =list(map(int, input("").split()))
  if 20 > sum(num) > 15 :
    print(sum(num))
    break
  else:
    print("Please enter different nums :")

10 11
Please enter different nums :
20 30
Please enter different nums :
6 9
Please enter different nums :
2 5
Please enter different nums :
10 6
16

If the entered side lengths do not form a triangle, write the code that determines the type of triangle according to the three side information entered by the user. ( In absolute value, the difference of two sides is taken, if the difference is greater than the other side, the entered values ​​do not form a triangle. This is done for all sides.

In [ ]:
while True :
  side1, side2, side3 = list(map(float, input('').split()))
  if abs(side1 - side2) < side3 and abs(side1 - side3) < side2 and abs(side2 - side3) < side1 :
    break   
    print('it is a triangle')
  else:
    print('Please enter different numbers')

1 3 5
Please enter different numbers
3 4 5

kullanıcının girdiği hatalı karakterleri kalın metin(rakam veya özel karakterleri) temizleyen ve sonuçta "Ali Demir" gibi çıktı veren bir kod yazalım

In [ ]:
sentence = input('Please enter your sentence :' ).lower()
düzeltme = ''
for i in sentence :
  if i.isalpha() or i == ' ':
    düzeltme += i
print(düzeltme.title())

Please enter your sentence :ali2343782 demir3424
Ali Demir

In [ ]:
a =  "Clarusway ve ben"
b = a.split()
print(b)

['Clarusway', 've', 'ben']

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split()

print(x)

['hello,', 'my', 'name', 'is', 'Peter,', 'I', 'am', '26', 'years', 'old']

Değişik formatlarda üçgen yapma fonksiyonları

In [ ]:
for i in range(1, 6):
  print(i * '*')

*
**
***
****
*****

In [ ]:
list(range(6, 0, -1 ))

[6, 5, 4, 3, 2, 1]

In [ ]:
for i in range(5, 0, -1):
  print(i * '*')

*****
****
***
**
*

In [ ]:
for i in range(5) :
  for j in range(1, i + 1) :
    print(j, end = ' ')
  print()

1
1 2
1 2 3
1 2 3 4

Write a Python program to get a string from a given string where all occurrences of its first** char have been changed to '$', except the first ch*ar itself

Sample String : 'restart

Expected Result : 'resta$t

In [ ]:
test = input('')
new_test = test[0] + test[1:].replace(test[0], '$')
print(new_test)

reszart
resza$t

Kullanıcan alınan string in içinde yine kullanıcan alınan substring kaç tane var sayma programı

In [ ]:
text = input("")
sub_text= input("")
count = 0
for i in range(len(text)) :
  if text[i:i+len(sub_text)] == sub_text :
    count += 1
print(count)

Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string

In [ ]:
text = input("")
if len(text) < 2 :
  word = "Empty String"
else :
  word = text[0:2] + text[-2:]
print(word)

ali
alli

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up. Input Format The first line contains . The second line contains an array of integers each separated by a space.

In [ ]:
scores = list(map(int, input('Please enter the scores : ' ).split()))

scores.sort()
run_up = sorted(set(scores))[-2]
print(f"run_up is : {run_up}")

Please enter the scores : 1 3 6 4 8 5 6 5 2 1 2 5
run_up is : 6

In [ ]:
int(2.9)

2

In [ ]:
setim = {1, 2, 3 ,4, 4, 5, 4}

Write a Python program to display the examination schedule. (extract the date from exam_st_date).

exam_st_date = (11, 12, 2014)

Sample Output : The examination will start from : 11 / 12 / 2014

Kullanıcıdan alınan iki sayının ekokunu bulan program yazınız

In [ ]:
numbers = list(map(int, input('').split()))
print(numbers)

3 5 7
[3, 5, 7]

In [ ]:
numbers = list(map(str, input('')))
print(numbers)

3 5 7
['3', ' ', '5', ' ', '7']

In [ ]:
numbers = list(map(str, input('').split()))
print(numbers)

3 5 7
['3', '5', '7']

In [ ]:
listem = [3, 5, 7]
list(listem)

[3, 5, 7]

In [ ]:
num1, num2 = list(map(int, input('').split()))
print(num1)

3 5
3

In [ ]:
num1, num2 = list(map(int, input('').split()))
print(num2)

3 5
5

In [ ]:
num1, num2 = list(map(int, input('').split()))
print(num1)

3 5 7 9 10 11

ValueError: ignored

In [ ]:
num1, *num2 = list(map(int, input('').split()))
print(num2)

3 5 7 9
[5, 7, 9]

Kullanıcıdan alınan iki sayının ekokunu bulan program yazınız

In [ ]:
num1, num2 = list(map(int, input('Please enter your number : ' ).split()))
bölen = []
for i in range(1, min(num1, num2) + 1) :
  if num1 % i == 0 and num2 % i == 0 :
    bölen.append(i)
print(bölen[0])

Please enter your number : 10 20
1

In [ ]:
sayi1 =int(input("lütfen ilk sayıyı giriniz : "))
sayi2 =int(input("lütfen ikinci sayıyı giriniz : "))
for i in range(1,min(sayi1, sayi2) +1):
    if (sayi1 % i==0) and (sayi2%i ==0):
        ebob = i
print("Ekok = ", (sayi1*sayi2)//ebob)

lütfen ilk sayıyı giriniz : 10
lütfen ikinci sayıyı giriniz : 20
Ekok =  20

Try to print a multiplication table with numbers from 1 to 10.

In [ ]:
num = int(input("Please enter a number : "))
for i in range(11):
  print("{} x {} = {}".format(num, i, num * i))

Please enter a number : 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

A number from the user will be set to be "Armstrong. For example, if a number has 4 digits and is equal to the 4th (3rd power for 3-digit numbers) of each of its surroundings, this number is called the "Armstrong" number.

In [ ]:
number = input('')
bos = []
  while True :
    for i in number :
      bos.append(int(i) ** len(number))
      print('{} sayisinin rakamlarinin kuvvetlerinin toplami {}'.format(number, sum(bos)))
    if sum(bos) == number :
      print('it is an Armstrong number')
      break
    else:
      input('Please give a new number')

IndentationError: ignored

In [ ]:
2 ** 4

16

In [ ]:
number = input('')
bos = []
for i in number :
  bos.append(int(i) ** len(number))
print(sum(bos))

1634
1634

In [ ]:

while True :
  num = input("")
  toplam = sum([int(i) ** len(num) for i in num])
  if int(num) == toplam :
    print(num, "is a armstrong number")
    break
  else:
    print(num, "is not a armstrong number")
    input('Please give an other number')

25
25 is not a armstrong number
Please give an other number1353
153
153 is a armstrong number

Write a program to find all the Armstrong numbers present in between two intervals in Python. For example, Armstrong numbers between 100 and 2000.

In [ ]:
armstrong = []
for i in range(100, 999999):
  summ = 0
  for j in str(i):
    summ += int(j) ** len(str(i))
    if summ == i:
      armstrong.append(i)
print(armstrong)

[153, 370, 370, 371, 407, 1634, 6688, 8208, 9474, 33286, 54748, 91818, 91819, 92727, 93084, 117651, 548834]

125

In [ ]:
lower_num, higher_num = list(map(int, input("").split()))
for i in range(lower_num, higher_num+1) :
  if sum([int(j) ** len(str(i)) for j in str(i)]) == i :
    print(i)

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

1 den 10 a kadar çarpım tablosunu örnekteki gibi yazdırın

In [ ]:
for i in range(1,11) :
  for j in range(1, 11) :
    print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
j = 1
while j <= 10 :
  for i in range(1,11) :
    if len(str(i))==1 and len(str(j))==1 and len(str(i*j))==1:
      print(" {} x  {} =   {}".format(i,j,i*j), end = "|")
    elif len(str(i))==1 and len(str(j))==1 and len(str(i*j))==2:
      print(" {} x  {} =  {}".format(i,j,i*j), end = "|")
    elif len(str(i))==2 and len(str(j))==1 and len(str(i*j))==2:
      print("{} x  {} =  {}".format(i,j,i*j), end = "|")
    elif len(str(i))==1 and len(str(j))==2 and len(str(i*j))==2:
      print(" {} x {} =  {}".format(i,j,i*j), end = "|")
    elif len(str(i))==2 and len(str(j))==2 and len(str(i*j))==3:
      print("{} x {} = {}".format(i,j,i*j), end = "|")
    else:
      print(" {} x {} ={}".format(i,j,i*j), end = "|")
  j += 1
  print()

 1 x  1 =   1| 2 x  1 =   2| 3 x  1 =   3| 4 x  1 =   4| 5 x  1 =   5| 6 x  1 =   6| 7 x  1 =   7| 8 x  1 =   8| 9 x  1 =   9|10 x  1 =  10|
 1 x  2 =   2| 2 x  2 =   4| 3 x  2 =   6| 4 x  2 =   8| 5 x  2 =  10| 6 x  2 =  12| 7 x  2 =  14| 8 x  2 =  16| 9 x  2 =  18|10 x  2 =  20|
 1 x  3 =   3| 2 x  3 =   6| 3 x  3 =   9| 4 x  3 =  12| 5 x  3 =  15| 6 x  3 =  18| 7 x  3 =  21| 8 x  3 =  24| 9 x  3 =  27|10 x  3 =  30|
 1 x  4 =   4| 2 x  4 =   8| 3 x  4 =  12| 4 x  4 =  16| 5 x  4 =  20| 6 x  4 =  24| 7 x  4 =  28| 8 x  4 =  32| 9 x  4 =  36|10 x  4 =  40|
 1 x  5 =   5| 2 x  5 =  10| 3 x  5 =  15| 4 x  5 =  20| 5 x  5 =  25| 6 x  5 =  30| 7 x  5 =  35| 8 x  5 =  40| 9 x  5 =  45|10 x  5 =  50|
 1 x  6 =   6| 2 x  6 =  12| 3 x  6 =  18| 4 x  6 =  24| 5 x  6 =  30| 6 x  6 =  36| 7 x  6 =  42| 8 x  6 =  48| 9 x  6 =  54|10 x  6 =  60|
 1 x  7 =   7| 2 x  7 =  14| 3 x  7 =  21| 4 x  7 =  28| 5 x  7 =  35| 6 x  7 =  42| 7 x  7 =  49| 8 x  7 =  56| 9 x  7 =  63|10 x  7 =  70|
 1 x  8 =   8| 2 x  8 =  16| 3 x  8 =  24| 4 x  8 =  32| 5 x  8 =  40| 6 x  8 =  48| 7 x  8 =  56| 8 x  8 =  64| 9 x  8 =  72|10 x  8 =  80|
 1 x  9 =   9| 2 x  9 =  18| 3 x  9 =  27| 4 x  9 =  36| 5 x  9 =  45| 6 x  9 =  54| 7 x  9 =  63| 8 x  9 =  72| 9 x  9 =  81|10 x  9 =  90|
 1 x 10 =  10| 2 x 10 =  20| 3 x 10 =  30| 4 x 10 =  40| 5 x 10 =  50| 6 x 10 =  60| 7 x 10 =  70| 8 x 10 =  80| 9 x 10 =  90|10 x 10 = 100|

In [ ]:
number = int(input('Please give a number'))
for i in range(1, number + 1) :
  if i > 1 and number % i == 0 :
    print('it is prime number')
    input('Please give a new number')
  else:
    print('it is prime number')

Please give a number20
it is prime number
it is prime number

KeyboardInterrupt: ignored

In [ ]:
n = int(input("Enter a positive number to check if it is a Prime Number : "))
counter = 0

for i in range(1, n+1) :
    if n % i == 0 :
        counter += 1
        
if (n == 0) or (n == 1) or (counter >= 3) :
    print(n, " is not a Prime Number")
    
else :
    print(n, " is a Prime Number")

Enter a positive number to check if it is a Prime Number : 15
15  is not a Prime Number

In each while loop, take a number from the user and add the numbers entered by the user to a variable named "sum". When the user presses the "q" key, terminate the loop and print the "sum variable" to the screen.

In [ ]:
summ = 0

while True :
  number = input('Please enter number, press q to quit : ').lower()
  if number == 'q':
    break
  else:
    summ += int(number)
print('Sum of numbers', ':', summ )

Please enter number, press q to quit : 1
Please enter number, press q to quit : 2
Please enter number, press q to quit : 3
Please enter number, press q to quit : 4
Please enter number, press q to quit : q
Sum of numbers : 10

In [ ]:
A jumbled list is given whose elements are consecutive numbers. Write python code that outputs even numbers of missing numbers that are between the smallest element and the largest element of the list, but not shown in the list.

Input

liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

Expected Output: 8 12 14 32 38 40

In [ ]:
liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
 
missing_nums = [i for i in range(min(liste), max(liste)+1) if i % 2 == 0 and not i in liste]
print(* missing_nums)

8 12 14 32 38 40

Write a Python dictionary function that takes a string from the user and matches each character in the string with the index number.

For Example:

İnput:'clarusway'

output: {0: 'c', 1: 'l', 2: 'a', 3: 'r', 4: 'u', 5: 's', 6: 'w', 7: 'a', 8: 'y'}

In [ ]:
text = input('')
dictim = {}
for i in text :
  dictim[text.index(i)] = i
dictim

Clarusway

{0: 'C', 1: 'l', 2: 'a', 3: 'r', 4: 'u', 5: 's', 6: 'w', 8: 'y'}

In [ ]:
Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [ ]:
number = abs(int(input('')))
toplam = 0
for i in range(number) :
  toplam += (i ** 3)
print(toplam)

9
1296

In [ ]:
num = int(input(""))
print(sum([i ** 3 for i in range(num)]))

9
1296

In [ ]:
Write a Python program to remove and print every third number from a list of numbers until the list becomes empty.

In [ ]:
liste = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9]
indeks = 0
uzunluk = len(liste)
while len(liste) > 0 :
  indeks = (2 + indeks) % uzunluk
  liste.pop(indeks)
  print(liste)
  uzunluk -= 1
print(indeks)

[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 7, 8, 9]
[1, 2, 4, 5, 7, 8]
[1, 2, 5, 7, 8]
[1, 2, 5, 7]
[1, 2, 7]
[1, 7]
[1]
[]
0

Given a list, right rotate the list by n position.

Write a program to shift every element of a list to circularly right

In [ ]:
#kaç birim kaydırmak istediğimiz sayıyı gidiyoruz.
num = int(input(""))
liste = [1, 2, 3, 4, 5, 6]
new_liste = liste[len(liste)- num:] +liste[0:len(liste)- num]
new_liste

[4, 2, 3, 4, 5, 6]

Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Robert Brett Roser, then the output should be R.B.Roser.

In [ ]:
name = (input('').title()).split()
new_name1 = ''
new_nameson = ''
for i in name[:-1] :
  for b in i :
    if b.isupper() :
      new_name1 += b
      new_name1 += '.' 
new_nameson = new_name1 + name[-1]
print(new_nameson)

ahmet mahmut muhammet mustafa
A.M.M.Mustafa

Write a program that takes a maximum two-digit (1-99) number from the user and finds the pronunciation of that number. For example:

İnput:97

Output:Doksan Yedi

In [ ]:
dict1 = {'0' : 'sifir', '1' : 'bir', '2' : 'iki', '3' : 'üc', '4' : 'dört', '5' : 'bes', '6' : 'alti','7' : 'yedi', '8' : 'sekiz', '9' : 'dokuz'}
dict2 = {'0' : '', '1' : 'on', '2' : 'yirmi', '3' : 'otuz', '4' : 'kirk', '5' : 'elli', '6' : 'altmis', '7' : 'yetmis', '8' : 'seksen', '9' : 'doksan'}
number = input('')
if int(number) <= 9 :
  print(dict1[number])
else:
  print(dict2[number[0]] + ' ' + dict1[number[1]])

11
on bir

In [ ]:
sayı = int(input(""))
birler= ["", "Bir", "İki", "Üç", "Dört", "Beş", "Altı", "Yedi", "Sekiz", "Dokuz"]
onlar= ["", "On", "Yirmi", "Otuz", "Kırk", "Elli", "Altmış", "Yetmiş", "Seksen", "Doksan"]

birinci_b = sayı % 10
ikinci_b = sayı // 10
if len(str(sayı)) == 2:
  print(onlar[ikinci_b], birler[birinci_b])
elif len(str(sayı)) == 1 :
  print(birler[birinci_b])

11
On Bir

Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Robert Brett Roser

Expected Output

R*** B** ROSER

In [ ]:
name = input('').title().split()
short_name = ''
for i in name[:len(name)-1] :
  short_name += i[0] + '*' * len(i[1:]) + ' '
shorttt = short_name + name[-1]
print(shorttt)

birinci ikinci ücüncü dördüncü
B****** I***** Ü***** Dördüncü

Write a program that prints the numbers from 1 to 100 that form a pythagorean triangle. For exam:3 4 5

In [ ]:
for x in range(1,100) :
  for y in range(x,100) :
    for z in range(y,100) :
      if x ** 2 + y **2 == z ** 2 :
        print(x,y,z)

Write a Python program to remove the characters which have odd index values of a given string

In [ ]:
string = input()
new_string = ''
for i in range(len(string)) :
  if  i % 2 == 0 :
    new_string += string[i]
print(new_string)

Mustafa
Msaa

Write a program to check if a given string is a Palindrome. A palindrome reads same from front and back e.g.- aba, ccaacc, mom, etc.

INPUT: aba

OUTPUT: True

In [ ]:
string1 = input('')
string2 = string1[::-1]
print(string1 == string2)
print(string2)

ccaacc
True
ccaacc

In [ ]:
'a' == 'a'

True

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other

In [ ]:
number = input('Please give a number')
saglama = ''

for i in number :
  if i not in saglama :
    saglama += i
if len(saglama) == len(number) :
  print('all numbers are different')
else:
  print('all numbers are not different')

Please give a number1234567891
all numbers are not different

In [ ]:
number = input("")
print(len(set(number)) == len(number))

You are given a string . Your task is to find out if the string contains: alphanumeric characters, alphabetical characters, digits, lowercase and uppercase characters.

Input Format

A single line containing a string .

Output Format

In the first line, print True if has any alphanumeric characters. Otherwise, print False. In the second line, print True if has any alphabetical characters. Otherwise, print False. In the third line, print True if has any digits. Otherwise, print False. In the fourth line, print True if has any lowercase characters. Otherwise, print False. In the fifth line, print True if has any uppercase characters. Otherwise, print False.

Sample Input

qA2

Sample Output

True

True

True

True

True

In [ ]:
text = input("")
print(any(i.isalnum() for i in text))
print(any(i.isalpha() for i in text))
print(any(i.isdigit() for i in text))
print(any(i.islower() for i in text))
print(any(i.isupper() for i in text))

You are given three integers i, j and k representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum i + j + k of is not equal to n .

Sample Input 0

1

1

1

2

Sample Output 0

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

Print an array of the elements that do not sum to 2 .

In [ ]:
x, y, z, n = int(input("")), int(input("")), int(input("")), int(input(""))
ls = []
for i in range(x +1) :
  for j in range(y+ 1) :
    for k in range(z + 1) :
      if i + j + k != n :
        ls.append([i,j,k])
print(ls)

A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a code that determines whether a number is a Harshad or not.

INPUT:75 ➞ OUTPUT:False

7 + 5 = 12

75 is not exactly divisible by 12

INPUT:171 ➞ OUTPUT:True

1 + 7 + 1 = 9

9 exactly divides 171

In [ ]:
number = input('')
toplam = 0
for i in number :
  toplam+= int(i)
if not int(number) % toplam :
  print(f'{number} is Harshad')
else:
  print(f'{number} is not Harshad')

171
171 is Harshad

In [ ]:
num = input("")
print(int(num) % sum([int(i) for i in num]) == 0)

Write a Python program to get the difference between the two lists.

In [ ]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

Try to find out if a number you get from the user is perfect.

A number is called a "perfect number" if the sum of its divisors is equal to itself. For example, 6 is a perfect number. (1 + 2 + 3 = 6)

In [ ]:
number = int(input(''))
toplam = 0
for i in range(1, number) :
  if number % i == 0:
    toplam += i
if toplam == number :
  print(f'{number} is a perfect number')
else:
  print(f'{number} is not a perfect number')

6
6 is a perfect number

Write a Python program to create a merged list of tuples from the two lists given.

For Example: İnput:

list1=[195, 488, 142, 626, 180]

list2=["New York", "Alabama", "Hawaii", "Vermont", "West Virginia"]

Output:

list3=[(195, 'New York'), (488, 'Alabama'), (142, 'Hawaii'), (626, 'Vermont'), (180, 'West Virginia')]

In [ ]:
list1=[195, 488, 142, 626, 180]

list2=["New York", "Alabama", "Hawaii", "Vermont", "West Virginia"]
output = list(zip(list1, list2))
output

[(195, 'New York'),
 (488, 'Alabama'),
 (142, 'Hawaii'),
 (626, 'Vermont'),
 (180, 'West Virginia')]

In [ ]:
merge_list = []
for i in range(0, len(list1)) :
  merge_list += [(list1[i], list2[i])]

print(merge_list)

"Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back. Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases.

INPUT : 3 ➞ "Loves me, Loves me not, LOVES ME"

INPUT : 6 ➞ "Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT"

INPUT : 1 ➞ "LOVES ME"

In [ ]:
number = int(input(''))
output = ''
counter = 1
while counter <= number :
  
  if counter == number and counter % 2 != 0 :
    output += 'LOVES ME'
    break
   
  elif counter == number and counter % 2 == 0 :
    output += 'LOVES ME NOT'
    break
  if counter % 2 != 0 :
    output += 'Loves me, '
  else:
    output += 'Loves me not, '
  
  counter += 1
  
print(output)

3
Loves me, Loves me not, LOVES ME

In [ ]:
n = int(input(""))
papatya = ["Loves me", "Loves me not" ]
yeni_papatya = []
if n == 1 :
  print(papatya[0].upper())
else:
  for i in range(1,n + 1) :
    if i % 2 == 1 :
      yeni_papatya += [papatya[0]]
    elif i % 2 == 0 :
      yeni_papatya += [papatya[1]]
  yeni_papatya  = yeni_papatya[:-1] + [yeni_papatya[-1].upper()]
  print(", ".join(yeni_papatya))

3
Loves me, Loves me not, LOVES ME

In [ ]:
Given 2 arrays of ints, a and b, return True if they have the same first element or they have the same last element. Both arrays will be length 1 or more. (Without using for, if, while)

[1, 2, 3], [7, 3] → True

[1, 2, 3], [7, 3, 2] → False

[1, 2, 3], [1, 3] → True

In [ ]:
list1= [1, 2, 3]
list2 = [7, 3]
print(list1[0] == list2[0] or list1[-1] == list2[-1])

True

In [ ]:
Group Anagrams

Title: Given an array of strings, you can combine words with different letters. Alphabetic words refer to strings with the same letters but arranged differently.

Given an array of strings, group anagrams together.

Example:

Input: ["eat", "tea", "tan", "ate", "nat", "bat"]

Output:

**[

["ate","eat","tea"],

["nat","tan"],

["bat"]

]

Explain:

All inputs are lowercase. Do not consider the order of the answer output. Note:

All inputs will be in lowercase. The order of your output does not matter.

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(list(group.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

Write a Python program to calculate the hypotenuse of a right angled triangle

In [ ]:
a, b, c = list(map(float, input('').split()))
liste = sorted([a, b, c])
print((liste[0] ** 2 + liste[1] ** 2) ** (1 / 2))

3 4 5
5.0

In [ ]:
x , y = int(input("")), int(input("")) 
print(((x **2) + (y ** 2)) ** 0.5)

3
4
5.0

In [ ]:
Write a Python program to test whether all numbers of a list is greater than a certain number.

In [ ]:
certain_number = int(input('Please give a certain number : '))
liste = list(map(int, input('').split()))
counter = 0
for i in liste :
  if i < certain_number :
    counter += 1
print(counter == 0)

Please give a certain number : 5
1 3 2 6 5 8
False

In [ ]:
lista = list(map(int, input("").split()))
number = int(input(""))
print(all([i > number for i in lista]))

5
1234567
False

Python Program to Find the Factorial of a Number The factorial of a number is the product of all the integers from 1 to that number. For example, the factorial of 6 is 12345*6 = 720. Factorial is not defined for negative numbers, and the factorial of zero is one, 0! = 1.

In [ ]:
number = int(input(''))
fctrl = 1
if number == 1 :
  fctrl = 1
else:
  for i in range(1, number + 1) :
    fctrl = fctrl * i
print(fctrl)

6
720

In [ ]:
n = int(input(""))
faktoriyel = 1
if n < 0 :
  print("Lütfen negatif sayı girmeyiniz! ")
elif n == 0 :
  print("0 faktoriyel 1 e eşittir.")
else :
  for i in range(n,0,-1) :
    faktoriyel *= i
  print("{} faktoriyel {} sayısına eşittir.".format(n, faktoriyel))

6
6 faktoriyel 720 sayısına eşittir.

In [ ]:
print(*range(1, 6))

1 2 3 4 5

In [ ]:
print(*range(6, 1))

In [ ]:
print(*range(6, 1, -1))

6 5 4 3 2

Python Exercise 11:
Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.
Input Format
The first line contains . The second line contains an array   of  integers each separated by a space.
Sample Input

In [ ]:
liste = [2, 3, 6, 5, 6]
liste.reverse()
a = set(liste)
print(list(a)[-2])

5

In [ ]:
num = int(input(""))
scores = list(map(int, input("").split()))
runner_up =sorted(set(scores))[-2]
print(runner_up)

5
2 3 6 6 5
5

Let's solve this question.:zwinkern:
Exercise 12 :
Write a Python program to print the following string in a specific format (see the output).
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"  Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [ ]:
Twinkle, twinkle, little star,
  How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [ ]:
a = """Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are"""
print(a)

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [ ]:
print("""Twinkle, twinkle, little star, \n    How I wonder what you are!
\tUp above the world so high, \n\tLike a diamond in the sky.
Twinkle, twinkle, little star, \n\tHow I wonder what you are.""")

Twinkle, twinkle, little star,
    How I wonder what you are!
	Up above the world so high,
	Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are.

what about this question?
Exercise 13 :
Write a Python program to display the examination schedule. (extract the date from exam_st_date). 
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [ ]:
date = (11, 12, 2014)
output = f"{date[0]}/{date[1]}/{date[2]}"
print(output)

11/12/2014

Exercise-14:
Try to find out if a number you get from the user is perfect.
A number is called a "perfect number" if the sum of its divisors is equal to itself. For example, 6 is a perfect number. (1 + 2 + 3 = 6) (bearbeitet)

In [ ]:
number = int(input(''))
toplam = 0
for i in range(1, number) :
  if number % i == 0 :
    toplam += i
if toplam == number :
  print(f"{number} is a perfect number.")
else:
  print(f"{number} is not a perfect number.")

6
6 is a perfect number.

In [ ]:
num = int(input(""))
total = sum([i for i in range(1,num) if num % i == 0])
if total == num :
  print("{} is a perfect number.".format(num))
else:
  print("{} is not a perfect number.".format(num))

6
6 is a perfect number.

In [ ]:
liste

[6, 5, 6, 3, 2]

In [ ]:

sum([1, 2, 3])

6

Exercise 15:
Write a program to check if a sentence is a palindrome or not. You can ignore white spaces and other characters to consider sentences as palindrome.
Input:
Ey Edip, Adana'da pide ye !
Output:
Sentence is a palindrome.

In [ ]:
sentence = input("please enter a sentence : ")
new_st = ""
for i in sentence :
  if i.isalnum():
    new_st += i
if new_st[::-1].lower() == new_st[::].lower() :
  print("{} is a palindrome.".format(sentence))
else:
  print("{} is not a palindrome.".format(sentence))

Exercise-16:
A number from the user will be set to be "Armstrong.
For example, if a number has 4 digits and is equal to the 4th (3rd power for 3-digit numbers) of each of its surroundings, this number is called the "Armstrong" number. etc.(1634 = 1^4 + 6^4 + 3^4 + 4^4)

In [ ]:
number = input('')
toplam = 0
for i in number :
  toplam += int(i) ** len(number)
if toplam == int(number) :
  print(f"{number} is an Armstrong number")
else:
  print(f"{number} is not an Armstrong number")
print(toplam)
print(number)

1634
1634 is an Armstrong number
1634
1634

In [ ]:
num = input("")
toplam = sum([int(i) ** len(num) for i in num])
if int(num) == toplam :
  print(num, "is an armstrong number")
else:
  print(num, "is not an armstrong number")

1634
1634 is a armstrong number

On top of the question  posted above, let’s find a similar one to this question, friends.
write a program to find all the Armstrong numbers present in between two intervals in Python. For example, Armstrong numbers between 100 and 2000. Expected output:

In [ ]:
listem = []
for i in range(100, 2001):
  toplam = 0
  for j in str(i) :
    toplam += int(j) ** len(str(i))
    if toplam == i :
      listem.append(i)
listem

[153, 370, 370, 371, 407, 1634]

In [ ]:
first_num, second_num = list(map(int, input("").split()))
for i in range(first_num, second_num+1) :
  if sum([int(j) ** len(str(i)) for j in str(i)]) == i :
    print(i)

100 2001
153
370
371
407
1634

Exercise-18
Try to print a multiplication table with numbers from 1 to 10.
For Example,
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
***********
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8

In [ ]:
for i in range(1, 11) :
  for j in range(1, 11) :
    print(f"{i}  * {j} = {i * j}")

1  * 1 = 1
1  * 2 = 2
1  * 3 = 3
1  * 4 = 4
1  * 5 = 5
1  * 6 = 6
1  * 7 = 7
1  * 8 = 8
1  * 9 = 9
1  * 10 = 10
2  * 1 = 2
2  * 2 = 4
2  * 3 = 6
2  * 4 = 8
2  * 5 = 10
2  * 6 = 12
2  * 7 = 14
2  * 8 = 16
2  * 9 = 18
2  * 10 = 20
3  * 1 = 3
3  * 2 = 6
3  * 3 = 9
3  * 4 = 12
3  * 5 = 15
3  * 6 = 18
3  * 7 = 21
3  * 8 = 24
3  * 9 = 27
3  * 10 = 30
4  * 1 = 4
4  * 2 = 8
4  * 3 = 12
4  * 4 = 16
4  * 5 = 20
4  * 6 = 24
4  * 7 = 28
4  * 8 = 32
4  * 9 = 36
4  * 10 = 40
5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45
5  * 10 = 50
6  * 1 = 6
6  * 2 = 12
6  * 3 = 18
6  * 4 = 24
6  * 5 = 30
6  * 6 = 36
6  * 7 = 42
6  * 8 = 48
6  * 9 = 54
6  * 10 = 60
7  * 1 = 7
7  * 2 = 14
7  * 3 = 21
7  * 4 = 28
7  * 5 = 35
7  * 6 = 42
7  * 7 = 49
7  * 8 = 56
7  * 9 = 63
7  * 10 = 70
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72
8  * 10 = 80
9  * 1 = 9
9  * 2 = 18
9  * 3 = 27
9  * 4 = 36
9  * 5 = 45
9  * 6 = 54
9  * 7 = 63
9  * 8 = 72
9  * 9 = 81
9  * 10 = 90
10  * 1 = 10
10  * 2 = 20
10  * 3 = 30
10  * 4 = 40
10  * 5 = 50
10  * 6 = 60
10  * 7 = 70
10  * 8 = 80
10  * 9 = 90
10  * 10 = 100

In [ ]:
num = int(input("Please enter a number : "))
for i in range(11):
  print("{} x {} = {}".format(num,i,num*i))

Please enter a number : 10
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
for i in range(1,11) :
  for j in range(1,11):
    print("{} x {} = {}".format(j,i,j*i))
  print("*" * 10)

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
**********
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
**********
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
**********
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
**********
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
**********
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
**********
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
**********
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
**********
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
**********
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
**********

In [ ]:
j = 1
while j <= 10 :
  for i in range(1,11) :
    if len(str(i))==1 and len(str(j))==1 and len(str(i*j))==1:
      print(" {} x  {} =   {}".format(i,j,i*j), end = "|")
    elif len(str(i))==1 and len(str(j))==1 and len(str(i*j))==2:
      print(" {} x  {} =  {}".format(i,j,i*j), end = "|")
    elif len(str(i))==2 and len(str(j))==1 and len(str(i*j))==2:
      print("{} x  {} =  {}".format(i,j,i*j), end = "|")
    elif len(str(i))==1 and len(str(j))==2 and len(str(i*j))==2:
      print(" {} x {} =  {}".format(i,j,i*j), end = "|")
    elif len(str(i))==2 and len(str(j))==2 and len(str(i*j))==3:
      print("{} x {} = {}".format(i,j,i*j), end = "|")
    else:
      print(" {} x {} ={}".format(i,j,i*j), end = "|")
  j += 1
  print()

 1 x  1 =   1| 2 x  1 =   2| 3 x  1 =   3| 4 x  1 =   4| 5 x  1 =   5| 6 x  1 =   6| 7 x  1 =   7| 8 x  1 =   8| 9 x  1 =   9|10 x  1 =  10|
 1 x  2 =   2| 2 x  2 =   4| 3 x  2 =   6| 4 x  2 =   8| 5 x  2 =  10| 6 x  2 =  12| 7 x  2 =  14| 8 x  2 =  16| 9 x  2 =  18|10 x  2 =  20|
 1 x  3 =   3| 2 x  3 =   6| 3 x  3 =   9| 4 x  3 =  12| 5 x  3 =  15| 6 x  3 =  18| 7 x  3 =  21| 8 x  3 =  24| 9 x  3 =  27|10 x  3 =  30|
 1 x  4 =   4| 2 x  4 =   8| 3 x  4 =  12| 4 x  4 =  16| 5 x  4 =  20| 6 x  4 =  24| 7 x  4 =  28| 8 x  4 =  32| 9 x  4 =  36|10 x  4 =  40|
 1 x  5 =   5| 2 x  5 =  10| 3 x  5 =  15| 4 x  5 =  20| 5 x  5 =  25| 6 x  5 =  30| 7 x  5 =  35| 8 x  5 =  40| 9 x  5 =  45|10 x  5 =  50|
 1 x  6 =   6| 2 x  6 =  12| 3 x  6 =  18| 4 x  6 =  24| 5 x  6 =  30| 6 x  6 =  36| 7 x  6 =  42| 8 x  6 =  48| 9 x  6 =  54|10 x  6 =  60|
 1 x  7 =   7| 2 x  7 =  14| 3 x  7 =  21| 4 x  7 =  28| 5 x  7 =  35| 6 x  7 =  42| 7 x  7 =  49| 8 x  7 =  56| 9 x  7 =  63|10 x  7 =  70|
 1 x  8 =   8| 2 x  8 =  16| 3 x  8 =  24| 4 x  8 =  32| 5 x  8 =  40| 6 x  8 =  48| 7 x  8 =  56| 8 x  8 =  64| 9 x  8 =  72|10 x  8 =  80|
 1 x  9 =   9| 2 x  9 =  18| 3 x  9 =  27| 4 x  9 =  36| 5 x  9 =  45| 6 x  9 =  54| 7 x  9 =  63| 8 x  9 =  72| 9 x  9 =  81|10 x  9 =  90|
 1 x 10 =  10| 2 x 10 =  20| 3 x 10 =  30| 4 x 10 =  40| 5 x 10 =  50| 6 x 10 =  60| 7 x 10 =  70| 8 x 10 =  80| 9 x 10 =  90|10 x 10 = 100|

Python Exercise-19 :
Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
Sample Output :
1
2
fizz
4
buzz
.
.

In [ ]:
for i in range(1, 51) :
  if  i % 3 == 0 and i % 5 != 0 :
    i = 'fizz'
  elif i % 5 == 0 and i % 3 != 0 :
    i = 'buzz'
  elif i %3 == 0 and i % 5 == 0 :
    i = 'fizzbuzz'
  print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

Python Exercise-20
In each while loop, take a number from the user and add the numbers entered by the user to a variable named "sum". When the user presses the "q" key, terminate the loop and print the "sum variable" to the screen.

In [ ]:
summ = 0
while True :
  number = input('')
  if number == 'q' :
    break
  else:
    summ += int(number)
print("sum of numbers is: ", summ)

5
4
3
2
1
q
sum of numbers is:  15

Python Exercise-21:
A jumbled list is given whose elements are consecutive numbers. Write python code that outputs even numbers of missing numbers that are between the smallest element and the largest element of the list, but not shown in the list.
Input
liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
Expected Output:
8 12 14 32 38 40

In [ ]:
 liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
liste.sort()
output = []
liste2 = list(range(liste[0], liste[-1] + 1))
for i in liste2 :
  if i % 2 == 0 and i not in liste :
    output.append(i)
output

[8, 12, 14, 32, 38, 40]

Exercise-22
Write a Python dictionary function that takes a string from the user and matches each character in the string with the index number.
For Example:
İnput:'clarusway'
output: {0: 'c', 1: 'l', 2: 'a', 3: 'r', 4: 'u', 5: 's', 6: 'w', 7: 'a', 8: 'y'}

In [ ]:
string = input('')
dictt = {}
for i in string :
  dictt[string.index(i)] = i
dictt

Clarusway

{0: 'C', 1: 'l', 2: 'a', 3: 'r', 4: 'u', 5: 's', 6: 'w', 8: 'y'}

In [ ]:
string = input('')
dictt = {}
for i in string :
 dictt.update({string.index(i) : i})
dictt

Clarusway

{0: 'C', 1: 'l', 2: 'a', 3: 'r', 4: 'u', 5: 's', 6: 'w', 8: 'y'}

In [ ]:
dictionary = {}
word = input("")
for i in range(len(word)):
  dictionary.update({i : word[i]})
print(dictionary)

Clarusway
{0: 'C', 1: 'l', 2: 'a', 3: 'r', 4: 'u', 5: 's', 6: 'w', 7: 'a', 8: 'y'}

Exercise-23
Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [ ]:
number = int(input())
toplam = 0
for i in range(number) :
  toplam+= i ** 3
toplam

5

100

In [ ]:
x = input("")
i = 1
toplam = 0
while i < int(x):
  toplam += i**3
  i += 1
print(toplam)

5
100

Python Exercise-24:
Write a Python program to remove and print every third number from a list of numbers until the list becomes empty.
For Example :
liste = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9]
Expected Output:
[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 7, 8, 9]
[1, 2, 4, 5, 7, 8]
[1, 2, 5, 7, 8]
[1, 2, 5, 7]
[1, 2, 7]
[1, 7]
[1]
[]

In [ ]:
liste = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9]
while len(liste) > 0 :
  if len(liste) < 3 :
    liste.remove(liste[-1])
  else:
    liste.remove(liste[2])
  print(liste)

[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 5, 6, 7, 8, 9]
[1, 2, 6, 7, 8, 9]
[1, 2, 7, 8, 9]
[1, 2, 8, 9]
[1, 2, 9]
[1, 2]
[1]
[]

In [ ]:
liste = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9]
indeks = 0
uzunluk = len(liste)
while len(liste) > 0 :
  indeks = (2 + indeks) % uzunluk
  liste.pop(indeks)
  print(liste)
  uzunluk -= 1

[1, 2, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 7, 8, 9]
[1, 2, 4, 5, 7, 8]
[1, 2, 5, 7, 8]
[1, 2, 5, 7]
[1, 2, 7]
[1, 7]
[1]
[]

In [ ]:
Python Exercise -25 :
Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.
An input string is valid if:
Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
Example 1:
Input: s = "()"
Output: true
Example 2:
Input: s = "()[]{}"
Output: true
Example 3:
Input: s = "(]"
Output: false
Example 4:
Input: s = "([)]"
Output: false
Example 5:Example 5:
Example 5:
Input: s = "{[]}"
Output: true

In [ ]:
s = "()[([]{()})}}][]"
while "()" in s or "[]" in s or "{}" in s :
    s = s.replace("()", "").replace("[]", "").replace("{}", "")
print(s == "")

False

Hi guys:frau_meldet_sich: Have a nice weekend:umarmendes_gesicht:
Python Exercise -26
Write a program to shift every element of a list to circularly right. E.g.-
INPUT : 1 2 3 4 5
OUTPUT : 5 1 2 3 4

In [ ]:
liste = [1, 2, 3, 4, 5]
for i in liste :

[2, 3, 4, 5, 2]

In [ ]:
def isValid(s) :
    while "()" in s or "[]" in s or "{}" in s :
        s = s.replace("()", "").replace("[]", "").replace("{}", "")
    return s == ""

In [ ]:
x = '((((]]]]]]]{{{{{{{{}}}}}}}}))))'
isValid(x)

False

In [ ]:
(lambda x, y : x + y)(4, 5)

9

In [ ]:
lambda a, b : a * b(4,5)

In [ ]:
(lambda a, b : a * b)(4,5)

20

In [ ]:
dict1 = {'ne_diyorum ': 'sesimi_duy',
         'neden' : 'bilmiyorum'}

In [ ]:
dict1['neden']

'bilmiyorum'

In [ ]:
calculator = {'+' : (lambda x,y : x + y),
              '-' : (lambda x,y : x - y),
              '*' : (lambda x,y : x * y),
              '/' : (lambda x,y : x / y)}

In [ ]:
calculator['+']

In [ ]:
calculator['+'](4, 5)

9

In [ ]:
calculator['/'](20, 2)

10.0

In [ ]:
import random

In [ ]:
random.randint(1, 100)

84

In [ ]:
chr(random.randint(65, 90))

'C'

In [ ]:
chr(random.randint(97, 122))

'i'

In [ ]:
chr(random.randint(48, 57))

'3'

In [ ]:
chr(random.randint(33, 47))

'/'

In [ ]:
chr(random.randint(58, 64))

'@'

In [ ]:
uppers = [chr(random.randint(65, 90)) for i in range(3)]
uppers

['P', 'E', 'B']

In [ ]:
lowers = [chr(random.randint(97, 122)) for i in range(3)]
lowers

['q', 'w', 'r']

In [ ]:
numbers = [chr(random.randint(48, 57)) for i in range(3)]
numbers

['9', '3', '4']

In [ ]:
chars = chr(random.randint(33, 47)) + chr(random.randint(58, 64))
chars

'!?'

In [ ]:
"".join(numbers)

'934'

In [ ]:
" +".join(numbers)

'9 +3 +4'

In [ ]:
"-".join(numbers)

'9-3-4'

In [ ]:
passw = "".join(uppers) + "".join(lowers) + "".join(numbers) + "".join(chars)
passw

'PEBqwr934!?'

In [ ]:
passw

'PEBqwr934!?'

In [ ]:
def karistir(password) :
  templist = list(password)
  random.shuffle(templist)
  return "".join(templist)

In [ ]:
karistir(passw)

'Eq?4wB9!rP3'

In [ ]:
from timeit import timeit

In [ ]:
def for_loop() :
  result = []
  for i in range(1000000) :
    result.append(i)
  return result

In [ ]:
def list_comp() :
  return [i for i in range(1000000)]

In [ ]:
size = 100
time_for = timeit(for_loop, number = size)
time_list_comp = timeit(list_comp, number = size)

In [ ]:
print(f"List Comp. is {round(time_for/time_list_comp, 2)} times faster than for loops.")

List Comp. is 1.68 times faster than for loops.

Python Exercise -26
Write a program to shift every element of a list to circularly right. E.g.-
INPUT : 1 2 3 4 5
OUTPUT : 5 1 2 3 4

In [ ]:
my_list = [1, 2, 3, 4, 5]
n = int(input(''))
new_list = my_list[len(my_list)- n:] + my_list[0:len(my_list) - n]
print(new_list)

2
[4, 5, 1, 2, 3]

In [ ]:
def shift(listem) :
  n = int(input(''))
  new_list = my_list[len(my_list)- n:] + my_list[0:len(my_list) - n]
  return new_list

In [ ]:
shift(my_list)

2

[4, 5, 1, 2, 3]

In [ ]:
list_x = input('').split()
number = int(input(''))
new_list = list_x[-number:] + list_x[:number + 1]
print(new_list)
print(*new_list)

1 2 3 4 5
2
['4', '5', '1', '2', '3']
4 5 1 2 3

In [ ]:
list_x = input('').split()
number = int(input(''))
new_list = list_x[-number:] + list_x[:number + 1]
print(new_list)
print(*new_list)

1 2 3 4 5
3
['3', '4', '5', '1', '2', '3', '4']
3 4 5 1 2 3 4

Python Exercise -28
Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Robert Brett Roser, then the output should be R.B.Roser.

In [ ]:
name = input('').title().split()
new_name = ''
for i in name[:-1] :
  for j in i :
    if j.isupper() :
       new_name += j
       new_name += '.'
new_name += name[-1]
print(name)
print(new_name)

Robert Brett Roser
['Robert', 'Brett', 'Roser']
R.B.Roser

In [ ]:
name = list(map(str.title, input('Please enter your name & surname : ').split()))
short_name = ''
for i in  name[:-1] :
  short_name += i[0] +'.'
short_name += name[-1]
short_name

Please enter your name & surname : Ahmet mahmut Muhammet Mustafa

'A.M.M.Mustafa'

Exercise-29
Write a program that takes a maximum two-digit (1-99) number from the user and finds the pronunciation of that number.
For example:
İnput:97
Output:Doksan Yedi

In [ ]:
a = str(19)
print(a)
print(type(a[0]))
print(a[1])

19
<class 'str'>
9

In [ ]:
number = int(input(''))
my_dict = {0 : 'sifir', 1 : 'bir', 2 : 'iki', 3 : 'üc', 4 : 'dört', 5 : 'bes', 6 : 'alti', 7 : 'yedi', 8 : 'sekiz', 9 : 'dokuz' }
my_dict2 = {10 : 'on', 20 : 'yirmi', 30 : 'otuz', 40 : 'kirk', 50 : 'elli', 60 : 'altmis', 70 : 'yetmis', 80 : 'seksen', 90 : 'doksan'}
my_dict3 = {1 : 'on', 2 : 'yirmi', 3 : 'otuz', 4 : 'kirk', 5 : 'elli', 6 : 'altmis', 7 : 'yetmis', 8 : 'seksen', 9 : 'doksan'}
if len(str(number)) == 1 :
  print(my_dict[number])
elif number in list(my_dict2.keys()) :
  print(my_dict2[number])
else :
  print(my_dict3[int(str(number)[0])] + ' ' + my_dict[int(str(number)[1])])

20
yirmi

In [ ]:
number = int(input(''))
birler = ['', 'Bir', 'iki', 'üc', 'Dört', 'Bes', 'Alti', 'Yedi', 'Sekiz', 'Dokuz']
onlar = ['', 'On', 'Yirmi', 'otuz','Kirk', 'Elli', 'Altmis', 'Yetmis', 'Seksen', 'Doksan']
if number == 0 :
  print('sifir')
elif len(str(number)) < 2 :
  print(birler[number])
else :
  print(onlar[number // 10] + ' ' + birler[number % 10])

19
On Dokuz

Exercise-28.vol2
@Raife-Mentor’s question revised.:nachdenkliches_gesicht:
İNPUT: Robert Brett Roser
OUTPUT:R***** B**** ROSER

In [ ]:
name = input('').title().split()
screet_name = ''
for i in name[:-1] :
  screet_name += i[0] + (len(i)-1 ) * '*'
screet_name += name[-1]
print(screet_name)

Robert Brett Roser
R*****B****Roser

In [ ]:
name = list(map(str.title, input('Please enter your name & surname : ').split()))
count = 0
for i in name :
  count += 1
  
  if count < len(name) :
    i = i[0] + (len(i) - 1) * '*'
  else :
    i = i
  print(i, end = ' ')

Please enter your name & surname : ahmet mahmut muhammet mustafa
A**** M***** M******* Mustafa

Exercise-30
Write a program that prints the numbers from 1 to 100 that form a pythagorean triangle. For exam:3 4 5

In [6]:
for i in range(1, 100) :
  for j in range(i, 100) :
    for k in range(j, 100) :
      if i ** 2 == j ** 2 + k ** 2 :
        print(i ,j, k)

In [8]:
for i in range(1, 100) :
  for j in range(i, 100) :
    for k in range(j, 100) :
      if i ** 2 + j ** 2 == k ** 2 :
        print(i ,j, k)

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 16 20
12 35 37
13 84 85
14 48 50
15 20 25
15 36 39
16 30 34
16 63 65
18 24 30
18 80 82
20 21 29
20 48 52
21 28 35
21 72 75
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 45 53
30 40 50
30 72 78
32 60 68
33 44 55
33 56 65
35 84 91
36 48 60
36 77 85
39 52 65
39 80 89
40 42 58
40 75 85
42 56 70
45 60 75
48 55 73
48 64 80
51 68 85
54 72 90
57 76 95
60 63 87
65 72 97

Python Exercise -31
Write a Python program to remove the characters which have odd index values of a given string

In [13]:
string = input('')
new_string = ''
for i in range(len(string)) :
  if i % 2 == 0 :
    new_string+= string[i]
new_string

Clarusway

'Cauwy'

In [14]:
string = input('')
new_string = string[::2]
new_string

Clarusway

'Cauwy'

Exercise-32
Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

In [17]:
number = input('')
number2 = set(number)
print(len(number) == len(number2))

22
False

Exercise-33
Write a program to check if a given string is a Palindrome.
A palindrome reads same from front and back e.g.- aba, ccaacc, mom, etc.
INPUT:  aba
OUTPUT: True

In [24]:
string = input('').lower()
string2 = string[::-1]
print(string == string2)

ccaacc
True

You are given a string .
Your task is to find out if the string  contains: alphanumeric characters, alphabetical characters, digits, lowercase and uppercase characters.
Input Format
A single line containing a string .
Output Format
In the first line, print True if  has any alphanumeric characters. Otherwise, print False.
In the second line, print True if  has any alphabetical characters. Otherwise, print False.
In the third line, print True if  has any digits. Otherwise, print False.
In the fourth line, print True if  has any lowercase characters. Otherwise, print False.
In the fifth line, print True if  has any uppercase characters. Otherwise, print False.

In [6]:
text = input("")
print(any(i.isalnum() for i in text))
print(any(i.isalpha() for i in text))
print(any(i.isdigit() for i in text))
print(any(i.islower() for i in text))
print(any(i.isupper() for i in text))

Clarusway
True
True
False
True
True

Exercise -34
You are given three integers  i, j and k representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by  (i, j, k) on a 3D grid where the sum i + j + k of  is not equal to  n .
Sample Input 0
1
1
1
2
Sample Output 0
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]
Print an array of the elements that do not sum to 2 .
Sample Input 1
2
2
2
2
Sample Output 1
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [12]:
x, y, z, n = int(input("")), int(input("")), int(input("")), int(input(""))
ls = []
for i in range(x +1) :
  for j in range(y+ 1) :
    for k in range(z + 1) :
      if i + j + k != n :
        ls.append([i,j,k])
        print(ls)

2
2
2
2
[[0, 0, 0]]
[[0, 0, 0], [0, 0, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1]]
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [14]:
x, y, z, n = int(input("")), int(input("")), int(input("")), int(input(""))
ls = []
for i in range(x +1) :
  for j in range(y+ 1) :
    for k in range(z + 1) :
      if i + j + k != n :
        print([i, j, k])

2
2
2
2
[0, 0, 0]
[0, 0, 1]
[0, 1, 0]
[0, 1, 2]
[0, 2, 1]
[0, 2, 2]
[1, 0, 0]
[1, 0, 2]
[1, 1, 1]
[1, 1, 2]
[1, 2, 0]
[1, 2, 1]
[1, 2, 2]
[2, 0, 1]
[2, 0, 2]
[2, 1, 0]
[2, 1, 1]
[2, 1, 2]
[2, 2, 0]
[2, 2, 1]
[2, 2, 2]

Exercise- 35 :
Write a Python program to get the difference between the two lists.

In [16]:
list1 = [*range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list2 = [*range(5,15)]
list2

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [22]:
print((set(list1) - set(list2) | (set(list2) - set(list1))))

{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}

A number is said to be Harshad if it's exactly divisible by the sum of its digits. Create a code that determines whether a number is a Harshad or not.

In [52]:
number = input('')
toplam = 0
while True :
  for i in number :
    toplam += int(i)
  if int(number) % toplam == 0 :
    print('it is a Harshad number')
    break
  else :
    print('it is not Harshad number')
    input('Please give a new number')

45
it is a Harshad number

In [49]:
num = input("")
print(int(num) % sum([int(i) for i in num]) == 0)

45
True

Exercise 37
Try to find out if a number you get from the user is perfect.

A number is called a "perfect number" if the sum of its divisors is equal to itself. For example, 6 is a perfect number. (1 + 2 + 3 = 6)

In [58]:
number = int(input(''))
print(number == sum([i for i in range(1,number) if number % i == 0]))

40
False

In [59]:
num = int(input("Please enter your number "))

C=[i for i in range(1,num) if num%i==0]

print((num == sum(C))*("This is a perfect number") + (num != sum(C))*("This is not a perfect number"))

Please enter your number 40
This is not a perfect number

In [ ]:
num = int(input("Please enter your number "))
C=[]
for i in range(1,num):
    if num%i==0:
        C.append(i)
print((num == sum(C))*("This is a perfect number") + (num != sum(C))*("This is not a perfect number"))

Exercise-38
Write a Python program to create a merged list of tuples from the two lists given.
For Example:
İnput:
list1=[195, 488, 142, 626, 180]
list2=["New York", "Alabama", "Hawaii", "Vermont", "West Virginia"]
Output:
list3=[(195, 'New York'), (488, 'Alabama'), (142, 'Hawaii'), (626, 'Vermont'), (180, 'West Virginia')]

In [64]:
list1=[195, 488, 142, 626, 180]
list2=["New York", "Alabama", "Hawaii", "Vermont", "West Virginia", 'ANKARA']
print(zip(list1, list2))

<zip object at 0x7f8130625780>

In [65]:
print(*zip(list1, list2))

(195, 'New York') (488, 'Alabama') (142, 'Hawaii') (626, 'Vermont') (180, 'West Virginia')

In [66]:
print(list(zip(list1, list2)))

[(195, 'New York'), (488, 'Alabama'), (142, 'Hawaii'), (626, 'Vermont'), (180, 'West Virginia')]

In [67]:
list2

['New York', 'Alabama', 'Hawaii', 'Vermont', 'West Virginia', 'ANKARA']

Exercise-39  "Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back.
Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases

In [74]:
n = int(input(''))
output = ''
for i in range (1, n+1) :
  if i % 2 != 0 :
    if i == n :
      output += 'LOVES ME'
    else :
      output += 'Loves Me, '
  else :
    if i == n :
      output += 'LOVES ME NOT'
    else:
      output += 'Loves Me Not, '
output

5

'Loves Me, Loves Me Not, Loves Me, Loves Me Not, LOVES ME'